@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|IBM+Plex+Sans+Condensed');


/*
 * Text properties --------------------------------
 */

/* File Variables */
:root { 
	/* Fonts */
    --sans-display-font: 'IBM Plex Sans Condensed';
    --sans-text-font:    'IBM Plex Sans Condensed';
	--mono-font:         'Roboto Mono';

	/* Formatting */
    --left-column-width:  1.85in;
	--line-padding:       0.15in;
}

h1, h2 {
    font-family:     var(--sans-display-font), sans;
    font-weight:     700;
    font-size:       40px;
    line-height:     40px;
}

h3 {
    font-family:     var(--sans-display-font, sans);
    font-weight:     700;
    font-size:       18px;
}

h4, h5 {
    font-family:     var(--sans-display-font, sans);
    font-weight:     500;
    font-size:       18px;
	margin-bottom:   5px;
}

p, li {
    font-family:     var(--sans-text-font, sans);
    font-weight:     300;
    font-size:	     14px;
}

code {
    font-family:     var(--mono-font), Inconsolata, Menlo, Consolas, monospace;
    font-size:       12px;
}

li {
    margin-bottom:   6px;
}

hr {
    border:          0;
    height:          1;
    border-top:      1px solid rgba(0, 0, 0, 0.2);
    border-bottom:   1px solid rgba(255, 255, 255, 0.3);
}


/* ───────────────────────────────────────────────────────── */
/* Layout */


html {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

body {
	flex: 0 1 auto;
	align-self: auto;
	max-width: 7.9in;
	margin-top: 0.2in;
	margin-bottom: 0.2in;
}

/* horizontal flexbox */
.row {
    display: flex;
    align-items: baseline;
}

/* Any <div>s in a row should generally be left-aligned with a border */
.row > div {
    text-align: left;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: var(--line-padding);
    padding-right: var(--line-padding);
	padding-bottom: -5px
}

/* Any "horiz" <div>s in a row should have a width of 2.7" */
.row > div.horiz {
	flex: 0 0 2.7in;
}

/* The first element of a row should be right-aligned */
.row > :first-child {
    flex: none;
    width: var(--left-column-width);
    text-align: right;
    padding-right: var(--line-padding);
    padding-left: 0;
    border: 0;
}

/* The title row should vertically center all elements */
.row.title {
    align-items: center;
    margin-bottom: -45px;
}

/* All non-title rows should have a fixed amount of bottom padding */
.row:not([class~="title"]) {
    padding-bottom: 6px;
}

/* vertical flexbox */
.col {
    display: flex;
    flex-direction: column;
}

/* Hide the title and the first <div>/child of a ".notext" or ".col" */
h1.title, .notext > div:first-of-type, .col > :first-child {
    display: none;
}


/*
 * Different media ---------------------------------
 */

@media print {
	@page {
		size: auto;
		margin: 0.5in 0.3in 0.5in 0.3in;
	}
	
	body {
		margin: 0px;
	}
}

@media only screen and (max-width: 730px) {
	body {
		margin-left: 40px;
		margin-right: 40px;
	}

	h1, h2, h3, h4, h5 {
		margin-bottom: -5px;
	}
	
    .row {
    	display: flex;
    	flex-direction: column;
        align-items: center;
    }
    
    .row > div, .col > div {
		flex: 1 1 auto;
    	width: 100%;
  		text-align: left;
		border: 0;
    }
    
    .row.title > div {
    	text-align: center;
        margin: 0;
    	padding: 0;
        border: 0;
    }
    
    .row > :first-child, .row.title > :first-child, .col > :first-child {
    	width: auto;
		text-align: center;
		padding: 0;
    }
}
