@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300..600&family=IBM+Plex+Mono:wght@300..600');


/* ─────────────────────────────────────────────────────────
 * Text Properties 
 */

html { 
    /* Global variables */
	--sans-display-font: 'IBM Plex Mono';
    --sans-text-font: 'IBM Plex Mono';
	--mono-font: 'IBM Plex Mono';
    --left-column-width: 2.25in;
	--line-padding: 0.15in;
	--background: #fefcfc;
	--foreground: #233;
	
	/* Styles */
	background-color: var(--background);
	color: var(--foreground);
}

h1, h2 {
    font-family: var(--sans-display-font), sans-serif;
    font-weight: 600;
    font-size: 2.7em;
    line-height: 2.7em;
}

h3 {
    font-family: var(--sans-display-font, sans-serif);
    font-weight: 500;
    font-size: 1.3em;
}

h4, h5 {
    font-family: var(--sans-display-font, sans-serif);
    font-weight: 500;
    font-size: 18px;
	margin-bottom: 5px;
}

p, li {
    font-family: var(--sans-text-font, sans-serif);
    font-weight: 300;
    font-size: 0.8em;
}

code {
    font-family: var(--mono-font), monospace;
	font-weight: 300;
    font-size: 1em;
}

li {
    margin-bottom: 0.5em;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* ─────────────────────────────────────────────────────────
 * Layout
 */

html {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

body {
	flex: 0 1 auto;
	align-self: auto;
	max-width: 7.9in;
	margin-top: 0.2in;
	margin-bottom: 0.2in;
}

/* horizontal flexbox */
.row {
    display: flex;
    align-items: baseline;
}

/* Any <div>s in a row should generally be left-aligned with a border */
.row > div {
    text-align: left;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: var(--line-padding);
    padding-right: var(--line-padding);
	margin-bottom: 0.75em;
}

/* Any "horiz" <div>s in a row should have a width of 2.7" */
.row > div.horiz {
	flex: 0 0 var(--left-column-width);
}

/* The first element of a row should be right-aligned */
.row > :first-child {
    flex: none;
    width: var(--left-column-width);
    text-align: right;
    padding-right: var(--line-padding);
    padding-left: 0;
    border: 0;
	letter-spacing: -0.25px;
	line-height: inherit;
}

/* The title row should vertically center all elements */
.row.title {
    align-items: center;
    margin-bottom: -12px;
}

/* All non-title rows should have a fixed amount of bottom padding */
.row:not([class~="title"]) {
    padding-bottom: 0.25em;
	line-height: inherit;
}

/* vertical flexbox */
.col {
    display: flex;
    flex-direction: column;
}

/* Hide the title, TOC, and the first <div>/child of a ".notext" or ".col" */
h1.title, .notext > div:first-of-type, .col > :first-child, #resume-body, #text-table-of-contents {
    display: none;
}


/* ───────────────────────────────────────────────────────── 
 * Different Media
 */

@media print {
	@page {
		size: auto;
		margin: 0.5in 0.3in 0.5in 0.3in;
	}
	
	html {
		background-color: #fff;
		color: #000;
	}

	body {
		margin: 0px;
	}
}

@media only screen and (max-width: 730px) {

	body {
		margin-top: 250px;
		margin-left: 40px;
		margin-right: 40px;
	}

	h1, h2, h3, h4, h5 {
		margin-bottom: -5px;
	}

	h3 {
		font-size: 20px;
	}

	h5 {
		font-size: 15px;
	}

	.row.notext {
		border-bottom: 1px;
	}

    .row {
    	display: flex;
    	flex-direction: column;
        align-items: center;
    }
    
    .row > div, .col > div {
		flex: 1 1 auto;
    	width: 90%;
  		text-align: left;
		border: 0;
    }
    
    .row.title > div {
    	text-align: center;
        margin: 0;
    	padding-bottom: 20px;
        border: 0;
    }
    
    .row > :first-child, .row.title > :first-child, .col > :first-child {
    	width: auto;
		text-align: center;
		padding: 0;
    }

	#text-table-of-contents {
		background-color: var(--background);
		display: block;
		position: fixed;
		width: 100%;
		overflow: hidden;
		top: 0;
	}

}
