@import url('https://fonts.googleapis.com/css?family=Roboto|IBM+Plex+Sans|Roboto+Condensed:400');


/* TEXT ****************************/

:root { /* Define Variables Here */

	/* Fonts */
    --sans-display-font: 'Roboto';
    --mono-display-font: 'Input';
    --sans-text-font:    'IBM Plex Sans Condensed';

	/* Formatting */
    --left-column-width:  1.8in;
}

h1, h2 {
    font-family:     var(--sans-display-font), sans;
    font-weight:     900;
    font-size:       40px;
    line-height:     40px;
}

h3 {
    font-family:     var(--sans-display-font, sans);
    font-weight:     700;
    font-size:       20px;
}

h4, h5 {
    font-family:     var(--sans-display-font, sans);
    font-weight:     500;
    font-size:       16px;
    /* line-height:     10px; */
}

p, li {
    font-family:     var(--sans-text-font, sans);
    font-weight:     300;
    font-size:	     14px;
}

code {
    font-family:     var(--mono-display-font), Inconsolata, Consolas, monospace;
    font-size:       14px;
}

li {
    margin-bottom:   6px;
}

hr {
    border:          0;
    height:          1;
    border-top:      1px solid rgba(0, 0, 0, 0.2);
    border-bottom:   1px solid rgba(255, 255, 255, 0.3);
}


/* FLEXBOX LAYOUT ****************************/


.row {
    display: flex;
    align-items: baseline;
}

.row > div {
    text-align: left;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 0.15in;
    padding-right: 0.15in;
}

.row > :first-child {
    width: var(--left-column-width);
    flex: none;
    padding-right: 0.15in;
    text-align: right;
    padding-left: 0;
    border: 0;
}

.row.title {
    align-items: center;
    margin-bottom: -40px;
}

.row:not([class~="title"]) {
    padding-bottom: 8px;
}

.col {
    display: flex;
    flex-direction: column;
}

h1.title, .notext > div:first-of-type, .col > :first-child {
    display: none;
}

@media print {
	@page {
		size: auto;
		margin: 0.5in 0.3in 0.5in 0.3in;
	}
	body {
		margin: 0px;
	}
}

@media all and (max-width: 5.5in) {
    .row {
    	display: flex;
    	flex-direction: column;
        align-items: center;
    }
    
    .row > div, .col > div {
    	width: 100%;
		flex: 1 1 auto;
  		text-align: left;
		border: 0;
    }
    
    .row.title > div {
    	text-align: center;
        margin: 0;
    	padding: 0;
        border: 0;
    }
    
    .row > :first-child, .row.title > :first-child, .col > :first-child {
    	width: auto;
		text-align: center;
		padding: 0;
    }
}
