@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|IBM+Plex+Sans:400|Roboto+Condensed:400');


/* TEXT ****************************/

:root { /* Define Variables Here */
    --sans-display-font: 'IBM Plex Sans Condensed';
    --mono-display-font: 'Input';
    --sans-text-font:    'IBM Plex Sans';
    --left-column-width:  1.85in;
}

h1, h2 {
    font-family:     var(--sans-display-font), sans;
    font-weight:     500;
    font-size:       47px;
    line-height:     40px;
}

h3 {
    font-family:     var(--sans-display-font, sans);
    font-weight:     500;
    font-size:       22px;
}

h4, h5 {
    font-family:     var(--sans-display-font, sans);
    font-weight:     500;
    font-size:       16px;
    /* line-height:     10px; */
}

p, li {
    font-family:     var(--sans-text-font, sans);
    font-weight:     400;
    font-size:	     14px;
}

code {
    font-family:     var(--mono-display-font), Inconsolata, Consolas, monospace;
    font-size:       14px;
}

li {
    margin-bottom:   6px;
}

hr {
    border:          0;
    height:          1;
    border-top:      1px solid rgba(0, 0, 0, 0.2);
    border-bottom:   1px solid rgba(255, 255, 255, 0.3);
}


/* FLEXBOX LAYOUT ****************************/


.row {
    display: flex;
    align-items: baseline;
}

.row > div {
    text-align: left;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 0.15in;
    padding-right: 0.15in;
}

.row > :first-child {
    width: var(--left-column-width);
    flex: none;
    padding-right: 0.15in;
    text-align: right;
    padding-left: 0;
    border: 0;
}

.row.title {
    align-items: center;
    margin-bottom: -45px;
}

.row:not([class~="title"]) {
    padding-bottom: 8px;
}

.col {
    display: flex;
    flex-direction: column;
}

h1.title, .notext > div:first-of-type, .col > :first-child {
    display: none;
}


@media all and (max-width: 6in) {
    .row {
    	display: flex;
    	flex-direction: column;
        align-items: center;
    }
    
    .row > div, .col > div {
    	width: 100%;
		flex: 1 1 auto;
  		text-align: left;
		border: 0;
    }
    
    .row.title > div {
    	text-align: center;
        margin: 0;
    	padding: 0;
        border: 0;
    }
    
    .row > :first-child, .row.title > :first-child, .col > :first-child {
    	width: auto;
		text-align: center;
		padding: 0;
    }
}
